{% load i18n %}
<form action="{% url 'system_security' %}" method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.is_active.errors }}
    {{ form.is_active }}
    <label for="id_is_active">Enable login</label><br/>
    {{ form.allow_local.errors }}
    {{ form.allow_local }}
    <label for="id_allow_local">Always allow local users</label><br/>
    {{ form.password1.errors }}
    {{ form.password2.errors }}
    <label for="id_password1">Password:</label>
    {{ form.password1 }}
    {{ form.password2 }}<br/>
    <input type="submit" name="save" value="{% trans "Save" %}"/>
    <input type="submit" name="logout" value="{% trans "Logout" %}"/>
</form>