{% load i18n %}
{% load url from future %}
<style type="text/css">
    #setupsystem {
        float: left;
        width: 100%;
        height: 100%;
    }

    #systemmenu {
        position: absolute;
        left: -1px;
        top: -1px;
        width: 100%;
    }

    #systemmenu ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    #Soptions {
        position: absolute;
        left: 15%;
        top: -1px;
        width: 74%;

        padding: 2%;
    }

</style>
<div id="setupsystem">
    <div id="systemmenu">
        <ul>
            <li><input type="button" data-id="connectors" value="{% trans "Connectors" %}"
                       class="button biggerbutton vertical submenu top {% if subtype == 'connectors' %}verticalSelected{% endif %}"/>
            </li>
            <li><input type="button" data-id="network" value="{% trans "Network" %}"
                       class="button biggerbutton vertical submenu {% if subtype == 'network' %}verticalSelected{% endif %}"/>
            </li>
            <li><input type="button" data-id="security" value="{% trans "Security" %}"
                       class="button biggerbutton vertical submenu {% if subtype == 'security' %}verticalSelected{% endif %}"/>
            </li>
            <li><input type="button" data-id="updates" value="{% trans "Updates" %}"
                       class="button biggerbutton vertical submenu bottom {% if subtype == 'updates' %}verticalSelected{% endif %}"/>
            </li>
            <!--<li><input type="button" data-id="theme" value="Theme" class="button normalbutton vertical menu bottom" /></li>-->
        </ul>
    </div>
    <div id="Soptions" class="border bottom">
        {% if subtype %}
            {% with "desktop/settings/system/"|add:subtype|add:"/"|add:subtype|add:".html" as template %}
                {% include template %}
            {% endwith %}
        {% endif %}
    </div>
</div>
<script type="text/javascript">
    $('.submenu').click(function () {
        $('.submenu').removeClass('verticalSelected');
        $(this).addClass('verticalSelected');
        var type = $(this).attr("data-id");
        $("#Soptions").load('{% url 'desktop.views.settings' type='system' %}', {'subtype': type}, function () {
            window.history.pushState('', 'RAXA - ' + $(this).val(), '/{{ LANGUAGE_CODE }}/settings/system/' + type + '/');
        });
    });
    {% if subtype %}
        window.setTimeout(function () {
            window.history.pushState('', 'RAXA - {{ subtype }}', '/{{ LANGUAGE_CODE }}/settings/system/{{ subtype }}/');
        }, 10);
    {% endif %}
</script>