{% load i18n %}
{% load url from future %}
<!DOCTYPE html>
<html>
    <head>
        <title>RAXA</title>

        <meta charset="UTF-8"/>
        <meta name="HandheldFriendly" content="true"/>
        <meta name="viewport" content="width=1.0, height=1.0, user-scalable=no"/>

        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css"/>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}floors.css"/>

        <link rel="icon" type="image/png" href="{{ STATIC_URL }}images/icon.png"/>
        <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}images/icon.png"/>

        <script type="text/javascript" src="{{ STATIC_URL }}tablet/fastclick.min_.js"></script>

        <!--[if IE 9]>
            <style type="text/css">
                .horisontal {
                    background: url(images/horisontal.svg);
                    background-size: 100%;
                }
                .vertical {
                    background: url(images/vertical.svg);
                    background-size: 100%;
                }
                .verticalSelected {
                    background: url(images/verticalSelected.svg);
                    background-size: 100%;
                }
            </style>
        <![endif]-->
    </head>
    <body id="body">
        <div id="container">
            {% for floor in floors %}
                <div id="floor{{ floor.id }}"></div>
            {% endfor %}
            <div id="devices"></div>
        </div>
        <div id="retholder">
            <div id="ret" style="Display: None" class="border"></div>
        </div>
        <div id="footer">
            <hr class="border"/>
            {% for scenario in scenarios %}
                <input type="button" value="{{ scenario.name }}"
                       class="button round horisontal border fastclick"
                       style="width: {{ percent }}%;"
                       onclick="scenario({{ scenario.id }});"/>
            {% endfor %}
        </div>
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function () {
                new FastClick(document.body);
            });
            function load(url, callback) {
                var xmlhttp = new XMLHttpRequest();
                xmlhttp.onreadystatechange = function () {
                    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                        if (callback) {
                            callback(xmlhttp);
                        }
                    }
                };
                xmlhttp.open("GET", url, true);
                xmlhttp.send();
            }
            window.onload = function () {
                var floor_img = '';
                {% for floor in floors %}
                    floor_img = document.createElement('div');
                    floor_img.setAttribute('id', 'floor{{ floor.id }}img');
                    document.getElementById('floor{{ floor.id }}').appendChild(floor_img);
                    load('{{ floor.image.url }}', function (data) {
                        document.getElementById("floor{{ floor.id }}img").innerHTML = data.responseText;
                    });
                    var floor_img_overlay = document.createElement('div');
                    floor_img_overlay.setAttribute('id', 'floor{{ floor.id }}imgoverlay');
                    document.getElementById('floor{{ floor.id }}').appendChild(floor_img_overlay);
                    load('{% url 'common.views.overlay' floor=floor.id %}', function (data) {
                        document.getElementById("floor{{ floor.id }}imgoverlay").innerHTML = data.responseText;
                    });
                {% endfor %}
            };
            function room(room) {
                load('{% url 'tablet.views.devices' %}?room=' + room, function (data) {
                    document.getElementById("devices").innerHTML = data.responseText;
                });
            }
            function scenario(id) {
                document.getElementById("ret").textContent = '{% trans "Executing" %}';
                document.getElementById('ret').style.display = "block";
                load('{% url 'api.views.view_auth' view='scenario' %}?id=' + id, function (data) {
                    document.getElementById("ret").innerHTML = data.responseText;
                    window.setTimeout(function () {
                        document.getElementById('ret').style.display = "none";
                    }, 2000);
                });
            }
            function device(id, cmd, dontLoad) {
                var callback = function (data) {
                    document.getElementById('ret').innerHTML = data.responseText;
                    document.getElementById('ret').style.display = "block";
                    window.setTimeout(function () {
                        document.getElementById('ret').style.display = "none";
                    }, 2000);
                    if (supportsSVG()) {
                        load('{% url 'common.views.overlay' floor=0 %}', function (data) {
                            document.getElementById("lowerIMGoverlay").innerHTML = data.responseText;
                        });
                        load('{% url 'common.views.overlay' floor=1 %}', function (data) {
                            document.getElementById("upperIMGoverlay").innerHTML = data.responseText;
                        });
                    }
                };
                load('{% url 'api.views.view_auth' view='device' %}?id=' + id + '&action=' + cmd, callback);
            }
            function showdim(id) {
                if (document.getElementById('dimrow' + id).style.display == "none") {
                    document.getElementById('dimrow' + id).style.display = "block";
                } else {
                    document.getElementById('dimrow' + id).style.display = "none";
                }
            }
            function dim(id) {
                var dim_level = document.getElementById('dim' + id).value;
                device(id, dim_level);
            }
            function supportsSVG() {
                return !!document.createElementNS &&
                       !!document.createElementNS('http://www.w3.org/2000/svg', "svg").createSVGRect;
            }
        </script>
    </body>
</html>