:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

html, body {
    height: 98%;
    overflow: hidden;
}

body {
    background-color: #000000;
    color: #ffffff;
    font: bold 14px sans-serif;
    font-size: 12pt;
}

hr {
    color: #452121;
    background-color: #452121;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 0.5%;
}

h1 {
    color: #d9baba;
    font-size: 18pt;
    margin-left: auto;
    margin-right: auto;
}

table {
    text-align: center;
}

form table tr td {
    padding: 0;
    margin: 0;
}

form table tr th {
    padding-right: 5px;
}

ul {
    list-style: none;
}

#loginholder {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 250px;
}

#login {
    position: relative;
    bottom: -50%;
    left: -50%;
    z-index: 10;
    width: 250px;

    padding: 2%;
}

#main_container {
    position: fixed;
    width: 100%;
    height: 90%;
}

#retholder {
    position: fixed;
    top: -1px;
    left: 50%;
}

#ret {
    position: relative;
    left: -50%;
    z-index: 10;
    padding: 5px;

    background-color: #000000;

    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

#settings {
    position: fixed;
    width: 100%;
    height: 90%;
}

#subsettings {
    float: left;
    width: 100%;
    height: 100%;
}

#subsettingsmenu {
    position: absolute;
    left: -1px;
    top: -1px;
    width: 100%;
}

#subsettingsmenu ul {
    margin: 0;
    padding: 0;
}

#subsettingsoptions {
    position: absolute;
    left: 15%;
    top: -1px;
    width: 74%;

    padding: 2%;
}

#menu {
    position: absolute;
    left: 1.5%;
    top: 2%;
    width: 100%;
}

#menu ul {
    margin: 1px 0 0;
    padding: 0 0.5%;
}

#options {
    position: absolute;
    left: 12%;
    top: 2%;
    width: 80%;
    height: 80%;
    max-height: 80%;
    overflow: auto;

    padding: 2.5%;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#footer {
    position: fixed;
    bottom: 12%;
    left: 0;
    width: 100%;
    height: 0;
    text-align: center;
}

#devices {
    position: fixed;
    top: 7%;
    right: 50px;
    width: 50%;
    height: 82%;
    overflow: auto;
}

#devices table {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-width: 300px;
}

.border {
    border: 1px solid #452121;
}

.button {
    display: inline-block;
    padding: 1.5% 0;
    font: bold 14px sans-serif;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

.smallestbutton {
    width: 6%;
}

.smallerbutton {
    width: 8%;
}

.normalbutton {
    width: 9.5%;
}

.autobutton {
    width: 12%;
}

.biggerbutton {
    width: 12%;
}

.biggestbutton {
    width: 15%;
}

.horisontal {
    color: #ffffff;

    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    font-size: 12pt;
    background: #040101;
    background: linear-gradient(top, #040101 0%, #7d7373 50%, #7d7373 51%, #040101 100%);
    background: -o-linear-gradient(top, #040101 0%, #7d7373 50%, #7d7373 51%, #040101 100%);
    background: -ms-linear-gradient(top, #040101 0%, #7d7373 50%, #7d7373 51%, #040101 100%);
    background: -moz-linear-gradient(top, #040101 0%, #7d7373 50%, #7d7373 51%, #040101 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #040101), color-stop(50%, #7d7373), color-stop(51%, #7d7373), color-stop(100%, #040101));
    background: -webkit-linear-gradient(top, #040101 0%, #7d7373 50%, #7d7373 51%, #040101 100%);
}

.vertical {
    white-space: normal;
    border: 0;
    color: #ededed;
    margin: 0;

    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    font-size: 12pt;
    background: #090202;
    background: linear-gradient(left, #090202 0%, #7d7373 50%, #7d7373 51%, #090202 100%);
    background: -o-linear-gradient(left, #090202 0%, #7d7373 50%, #7d7373 51%, #090202 100%);
    background: -ms-linear-gradient(left, #090202 0%, #7d7373 50%, #7d7373 51%, #090202 100%);
    background: -moz-linear-gradient(left, #090202 0%, #7d7373 50%, #7d7373 51%, #090202 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #090202), color-stop(50%, #7d7373), color-stop(51%, #7d7373), color-stop(100%, #090202));
    background: -webkit-linear-gradient(left, #090202 0%, #7d7373 50%, #7d7373 51%, #090202 100%);
}

.verticalSelected {
    white-space: normal;
    border: 0;
    color: #ffffff;

    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    font-size: 12pt;
    background: #141010;
    background: linear-gradient(left, #141010 0%, #7d7373 50%, #7d7373 51%, #141010 100%);
    background: -o-linear-gradient(left, #141010 0%, #7d7373 50%, #7d7373 51%, #141010 100%);
    background: -ms-linear-gradient(left, #141010 0%, #7d7373 50%, #7d7373 51%, #141010 100%);
    background: -moz-linear-gradient(left, #141010 0%, #7d7373 50%, #7d7373 51%, #141010 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #141010), color-stop(50%, #7d7373), color-stop(51%, #7d7373), color-stop(100%, #141010));
    background: -webkit-linear-gradient(left, #141010 0%, #7d7373 50%, #7d7373 51%, #141010 100%);
}

.button:active {
    color: #ffffff;

    background: #141010;
    background: linear-gradient(left, #141010 0%, #7d7373 50%, #7d7373 51%, #141010 100%);
    background: -o-linear-gradient(left, #141010 0%, #7d7373 50%, #7d7373 51%, #141010 100%);
    background: -ms-linear-gradient(left, #141010 0%, #7d7373 50%, #7d7373 51%, #141010 100%);
    background: -moz-linear-gradient(left, #141010 0%, #7d7373 50%, #7d7373 51%, #141010 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #141010), color-stop(50%, #7d7373), color-stop(51%, #7d7373), color-stop(100%, #141010));
    background: -webkit-linear-gradient(left, #141010 0%, #7d7373 50%, #7d7373 51%, #141010 100%);
    -moz-box-shadow: 0 0 12px #141010;
    box-shadow: 0 0 12px #141010;
}

.round {
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
    -moz-transition: -moz-box-shadow 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.top {
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.bottom {
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.container {
    background: none;
}

th {
    vertical-align: top;
}

label[for="id_action"] {
    position: relative;
    top: 5px;
}

fieldset {
    display: inline-block;
    height: 58px;
    margin: 10px 0 0 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}

fieldset input[type="radio"] {
    display: none;
}

fieldset label {
    float: left;
    display: inline-block;
    width: 48px;
    height: 48px;
    color: transparent;
    margin: 0;
    padding: 5px, 0;
    background-color: #222;
}

fieldset label:first-of-type {
    padding-left: 5px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background-position: 5px, 0;
}

fieldset label:last-of-type {
    padding-right: 5px;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

fieldset input[type="radio"]:checked + label {
    background-color: #666;
}

fieldset .on {
    background-image: url("/static/images/on.png");
}

fieldset .off {
    background-image: url("/static/images/off.png");
}

fieldset .dim {
    background-image: url("/static/images/dim.png");
}

fieldset .color {
    background-image: url("/static/images/color.png");
}

.ui-hidden-accessible {
    display: none;
}

.slider {
    display: inline-block;
    margin-bottom: 1em;
}

.slider .label {
    display: inline-block;
    padding: 5px;
    width: 1.5em;
}

/* SVG image classes */

.walls {
    fill: #ffffff;
}

.lines {
    stroke: #000000 !important;
}

.windows {
    fill: #454040;
    stroke: #454040;
}