{% load i18n %}
{% load url from future %}
<!DOCTYPE html>
<html>
    <head>
        <title>RAXA</title>
        <meta charset="UTF-8" />
        <!-- chromeframe metatag -->
        <meta http-equiv="X-UA-Compatible" content="chrome=1" />

        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}floors.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}desktop/jquery-ui-1.9.2.custom.min.css" />

        <link rel="icon" type="image/png" href="{{ STATIC_URL }}images/icon.png" />
        <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}images/icon.png" />

        <script type="text/javascript" src="{{ STATIC_URL }}desktop/jquery-1.8.3.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}desktop/jquery-ui-1.9.2.custom.min.js"></script>
        <!--[if IE 9]>
            <style type="text/css">
                .horisontal {
                    background: url(images/horisontal.svg);
                    background-size: 100%;
                }
                .vertical {
                    background: url(images/vertical.svg);
                    background-size: 100%;
                }
                .verticalSelected {
                    background: url(images/verticalSelected.svg);
                    background-size: 100%;
                }
            </style>
        <![endif]-->
    </head>
    <body id="body">
        <div id="container" style="Display: {% block display_container %}block{% endblock %}">
            {% for floor in floors %}
                <div id="floor{{ floor.id }}"></div>
            {% endfor %}
            <div id="devices"></div>
        </div>
        <div id="settings" style="Display: {% block display_settings %}None{% endblock %}">
            <div id="menu">
                <ul>
                    <li><input type="button" data-id="devices" value="{% trans "Devices" %}" class="button normalbutton vertical menu top {% if type == 'devices' %}verticalSelected{% endif %}" /></li>
                    <li><input type="button" data-id="scenarios" value="{% trans "Scenarios" %}" class="button normalbutton vertical menu {% if type == 'scenarios' %}verticalSelected{% endif %}" /></li>
                    <li><input type="button" data-id="inputs" value="{% trans "Inputs" %}" class="button normalbutton vertical menu {% if type == 'inputs' %}verticalSelected{% endif %}" /></li>
                    <li><input type="button" data-id="timers" value="{% trans "Timers" %}" class="button normalbutton vertical menu {% if type == 'timers' %}verticalSelected{% endif %}" /></li>
                    <li><input type="button" data-id="thermometers" value="{% trans "Thermometers" %}" class="button normalbutton vertical menu {% if type == 'timers' %}verticalSelected{% endif %}" /></li>
                    <!--<li><input type="button" data-id="Auto" value="<?php echo $lang->{'automation'};?>" class="button normalbutton vertical menu" /></li>-->
                    <li><input type="button" data-id="room" value="{% trans "Rooms" %}" class="button normalbutton vertical menu {% if type == 'rooms' %}verticalSelected{% endif %}" /></li>
                    <li><input type="button" data-id="system" value="{% trans "System" %}" class="button normalbutton vertical menu {% if type == 'system' %}verticalSelected{% endif %}" /></li>
                    <li><input type="button" data-id="plan" value="{% trans "Plan" %}" class="button normalbutton vertical menu {% if type == 'plan' %}verticalSelected{% endif %}" /></li>
                </ul>
            </div>
            <div id="options" class="border">
                {% block settings %}{% endblock %}
            </div>
        </div>
        <div id="retholder"><div id="ret" style="Display: None" class="border"></div></div>
        <div id="footer">
            {% include 'desktop/footer.html' %}
        </div>
        <script type="text/javascript">
            $(document).ready(function() {
                $('.menu').on('click', function(){
                    $('.menu').removeClass('verticalSelected');
                    $(this).addClass('verticalSelected');
                    var type = $(this).attr('data-id');
                    $('#options').load('{% url 'desktop.views.settings_index' %}', {'type': type}, function() {
                        window.history.pushState('', 'RAXA - '+$(this).val(), '/{{ LANGUAGE_CODE }}/settings/'+type+'/');
                    });
                });
            });
            function load(url, callback) {
                var xmlhttp = new XMLHttpRequest();
                xmlhttp.onreadystatechange = function () {
                    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                        if (callback) {
                            callback(xmlhttp);
                        }
                    }
                };
                xmlhttp.open("GET", url, true);
                xmlhttp.send();
            }
            window.onload = function () {
                var floor_img = '';
                if (supportsSVG()) {
                    {% for floor in floors %}
                        floor_img = document.createElement('div');
                        floor_img.setAttribute('id', 'floor{{ floor.id }}img');
                        document.getElementById('floor{{ floor.id }}').appendChild(floor_img);
                        load('{{ STATIC_URL }}images/floor{{ floor.id }}.svg', function (data) {
                            document.getElementById("floor{{ floor.id }}img").innerHTML = data.responseText;
                        });
                        var floor_img_overlay = document.createElement('div');
                        floor_img_overlay.setAttribute('id', 'floor{{ floor.id }}imgoverlay');
                        document.getElementById('floor{{ floor.id }}').appendChild(floor_img_overlay);
                        load('{% url 'common.views.overlay' floor=floor.id %}', function (data) {
                            document.getElementById("floor{{ floor.id }}imgoverlay").innerHTML = data.responseText;
                        });
                    {% endfor %}
                } else {
                    var css = document.createElement('link');
                    css.setAttribute('rel', 'stylesheet');
                    css.setAttribute('type', 'text/css');
                    css.setAttribute('href', '{{ STATIC_URL }}rooms.css');
                    document.getElementById('body').appendChild(css);

                    {% for floor in floors %}
                        floor_img = document.createElement('img');
                        floor_img.setAttribute('id', 'floor{{ floor.id }}img');
                        floor_img.setAttribute('src', '{{ STATIC_URL }}images/floor{{ floor.id }}.gif');
                        document.getElementById('floor{{ floor.id }}').appendChild(floor_img);
                    {% endfor %}

                    {% for room in backend.models.Room.all %}
                        var room = document.createElement('div');
                        room.setAttribute('id', 'iroom{{ room.id }}');
                        room.setAttribute('class', 'fastclick');
                        room.setAttribute('style', 'z-Index: 100');
                        room.setAttribute('onclick', 'room({{ room.id }})');
                        document.getElementById('floor{{ room.floor.id }}').appendChild(room);
                    {% endfor %}
                }
            };
            function update_overlay() {
                {% for floor in floors %}
                    load('{% url 'common.views.overlay' floor=floor.id %}', function (data) {
                        document.getElementById("floor{{ floor.id }}imgoverlay").innerHTML = data.responseText;
                    });
                {% endfor %}
            }
            function room(room) {
                load('{% url 'desktop.views.devices' %}?room='+room, function (data) {
                    document.getElementById("devices").innerHTML = data.responseText;

                    var $input, $slider;

                    $('.slider').each(function(index, input) {
                        $input = $(input);

                        //Create a new div, turn it into a slider, and set its attributes based on
                        //the attributes of the input.
                        $slider = $('<div />').slider({
                            min: parseInt($input.attr('min'), 10),
                            max: parseInt($input.attr('max'), 10),
                            value: parseInt($input.attr('value'), 10),
                            step: parseInt($input.attr('step'), 10),
                            slide: function(event, ui) {
                                //Keep the value of the input[type=range] in sync with the slider.
                                $(this).prev('input').val(ui.value);
                            },
                            stop: function(event, ui) {
                                var id = $(this).prev('input').attr('data-device');
                                device(id, ui.value);
                            }
                        });

                        //Append the slider after the input and hide the input.  The user will only
                        //interact with the slider.
                        $input.after($slider).hide();
                    });
                });
            }
            function show_status(json) {
                json = $.parseJSON(json);
                if (json['status']['status'] == 'ok') {
                    document.getElementById("ret").textContent = '{% trans "Done" %}';
                } else {
                    document.getElementById("ret").textContent = '{% trans "Error" %}';
                }
                document.getElementById('ret').style.display = "block";
                window.setTimeout(function() {
                    document.getElementById('ret').style.display = "none";
                }, 2000);
            }
            function scenario(id) {
                document.getElementById("ret").textContent = '{% trans "Executing" %}';
                document.getElementById('ret').style.display = "block";
                load('{% url 'api.views.view_auth' view='scenario' %}?id='+id, function (data) {
                    show_status(data.responseText);
                });
            }
            function device(id, cmd) {
                var callback = function(data) {
                    show_status(data.responseText);
                };
                load('{% url 'api.views.view_auth' view='device' %}?id='+id+'&action='+cmd, callback);
            }
            function showdim(id) {
                if (document.getElementById('dimrow' + id).style.display == "none") {
                    document.getElementById('dimrow' + id).style.display = "block";
                } else {
                    document.getElementById('dimrow' + id).style.display = "none";
                }
            }
            function dim(id) {
                var dim_level = document.getElementById('dim' + id).value;
                device(id, dim_level);
            }
            function supportsSVG() {
                return !!document.createElementNS &&
                       !!document.createElementNS('http://www.w3.org/2000/svg', "svg").createSVGRect;
            }
            var $settings = $('#settings');
            var $container = $('#container');
            function settings() {
                if ($settings.is(':visible')) {
                    $container.show();
                    $settings.hide();
                    window.history.pushState('', 'RAXA', '/{{ LANGUAGE_CODE }}/');
                } else {
                    $container.hide();
                    $settings.show();
                    window.history.pushState('', 'RAXA - {% trans "Settings" %}', '/{{ LANGUAGE_CODE }}/settings/');
                }
            }

            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getCookie('csrftoken');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                crossDomain: false, // obviates need for sameOrigin test
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type)) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        </script>
    </body>
</html>