{% load i18n %}
{% load url from future %}
<style type="text/css">
    .container {
        background: none;
    }
</style>
<div id="accordion">
    {% for scenariodevice in scenariodevices %}
        <div class="group">
            <div class="header" data-id="{{ scenariodevice.id }}" style="line-height: 1;">
                <span>{{ scenariodevice.device.name }}</span>
                <span style="float: right; font-size: 0.8em;color: #ccc">{{ scenariodevice.device.room.floor.name }} / {{ scenariodevice.device.room.name }}</span>
            </div>
            <div class="container"><br /><br /><br /><br /><br /><br /></div>
        </div>
    {% endfor %}
</div>
<div id="new">
    <div class="header" data-id="0" style="line-height: 1;">
        <span>{% blocktrans %}New Device{% endblocktrans %}</span>
    </div>
    <div class="container">
        <form action="{% url 'desktop.views.edit_scenario' %}" method="post">{% csrf_token %}
            <input type="hidden" name="scenario" value="{{ scenario }}" />
            {{ form.non_field_errors }}
            {{ form.device.errors }}
            <table>
                <tr>
                    <th>
                        <label for="id_device">Device:</label>
                    </th>
                    <td>
                        {{ form.device }}
                    </td>
                    <td>
                        <input type="submit" name="add" value="{% trans "Add" %}" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<script type="text/javascript">
    var $accordion = $('#accordion');
    $accordion.accordion({
        collapsible: true,
        active: false,
        heightStyle: "content",
        header: '> div > div[class="header"]',
        beforeActivate: function(event, ui) {
            var id = ui.newHeader.attr('data-id');
            ui.newPanel.load('{% url 'desktop.views.edit_scenario' %}', {'id': id});
        }
    }).sortable({
                axis: "y",
                handle: '.header',
                start: function( event, ui ) {
                    $accordion.accordion("activate", false);
                },
                stop: function( event, ui ) {
                    // IE doesn't register the blur when sorting
                    // so trigger focusout handlers to remove .ui-state-focus
                    ui.item.children('div[class="header"]').triggerHandler("focusout");
                }
            });
    $accordion.click(function(event) {
        event.stopPropagation();
    });
    $('#options').click(function() {
        $('#accordion').accordion("activate", false);
    });
    $('#new').accordion({
        heightStyle: "content",
        header: 'div[class="header"]'
    });
</script>