{% extends "mobile/dialog.html" %}
{% load i18n %}
{% load url from future %}

{% block header %}
    <h1>{% trans "Device" %}</h1>
{% endblock %}

{% block content %}
    {% if type %}
        <form action="{% url 'mobile.views.edit_device' type=type %}" method="post">{% csrf_token %}
    {% else %}
        <form action="{% url 'mobile.views.edit_device' id=object.id %}" method="post">{% csrf_token %}
    {% endif %}
        {{ form.as_p }}
        <div class="ui-grid-a">
            <div class="ui-block-a">
                <input type="submit" name="delete" value="{% trans "Delete" %}" data-theme="c" data-icon="delete"/>
            </div>
            <div class="ui-block-b">
                <input type="submit" name="save" value="{% trans "Save" %}" data-theme="b" data-icon="check"/>
            </div>
        </div>
    </form>
{% endblock %}
