{% extends "mobile/dialog.html" %}
{% load i18n %}
{% load url from future %}

{% block header %}
    <h1>{% trans "Device in " %} {{ scenario.name }}</h1>
{% endblock %}

{% block content %}
    <form action="{% url 'mobile.views.edit_scenario_device' scenario=scenario.id scenariodevice=scenariodevice %}" method="post">{% csrf_token %}
        {{ form.as_p }}
        {% if submit == 'save' %}
            <input type="submit" value="{% trans "Save" %}" name="save" data-theme="b" data-icon="check" />
        {% elif submit == 'delete' %}
            <div class="ui-grid-a">
                <div class="ui-block-a"><input type="submit" name="delete" value="{% trans "Delete" %}" data-theme="c" data-icon="delete" /></div>
                <div class="ui-block-b"><input type="submit" name="save" value="{% trans "Save" %}" data-theme="b" data-icon="check" /></div>
            </div>
        {% elif submit == 'next' %}
            <input type="submit" value="{% trans "Next" %}" name="new" data-theme="b" data-icon="arrow-r" data-iconpos="right"/>
        {% endif %}
    </form>
{% endblock %}