{% extends "mobile/dialog.html" %}
{% load i18n %}
{% load url from future %}

{% block header %}
    <h1>{% trans "Scenario" %}</h1>
{% endblock %}

{% block content %}
    <form action="{% url 'mobile.views.edit_scenario' id=object.id %}" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans "Save" %}" data-theme="b" name="save" />
        <input type="submit" value="{% trans "Delete" %}" data-theme="c" name="delete" />
    </form>
    <a href="{% url 'mobile.views.edit_scenario_devices' id=object.id %}" data-role="button">{% trans "Edit Devices" %}</a>
{% endblock %}
