#iroom11 {
    position: absolute;
    width: 37.3%;
    height: 43%;
    left: 18%;
    top: 2.5%;
}

#iroom12 {
    position: absolute;
    width: 35%;
    height: 43%;
    left: 55.6%;
    top: 2.5%;
}

#iroom13 {
    position: absolute;
    width: 68%;
    height: 51%;
    left: 2%;
    top: 46.5%;
}

#iroom14 {
    position: absolute;
    width: 20%;
    height: 35%;
    left: 71.5%;
    top: 63%;
}

#iroom1 {
    position: absolute;
    width: 46%;
    height: 40%;
    left: 18%;
    top: 2.5%;
}

#iroom2 {
    position: absolute;
    width: 26%;
    height: 35%;
    left: 64%;
    top: 2.5%;
}

#iroom3 {
    position: absolute;
    width: 66%;
    height: 51%;
    left: 2%;
    top: 46.5%;
}

#iroom4 {
    position: absolute;
    width: 26%;
    height: 26%;
    left: 64.5%;
    top: 37.5%;
}

#iroom5 {
    position: absolute;
    width: 20%;
    height: 35%;
    left: 70%;
    top: 63%;
}