{% load i18n %}
{% load url from future %}
<style type="text/css">

    .ui-hidden-accessible {
        display: none;
    }

    .slider {
        display: inline-block;
        margin-top: 3px;
    }

    .slider .label {
        display: inline-block;
        padding: 5px;
        width: 1.5em;
    }
</style>
<form action="{% url 'desktop.views.edit_device' %}" method="post">{% csrf_token %}
    <input type="hidden" name="id" value="{{ object.id }}" />
    <table style="text-align: left; border: 8px solid transparent; border-spacing: 0;">
        {{ form.as_table }}
    </table>
    <input type="submit" name="save" value="{% trans "Save" %}" />
    <input type="submit" name="delete" value="{% trans "Delete" %}" />
    <input type="submit" name="sync" value="{% trans "Sync" %}" onclick="device({{ object.id }}, 'sync');return false" />
</form>
{% if 'dim_level' in object.object.SUPPORTED_ACTIONS %}
    <script type="text/javascript">
        var $input, $label, $slider;

        $('input[type="range"]').each(function(index, input) {
            $input = $(input);

            $container = $('<div class="slider"/>');
            $label = $('<span class="label ui-widget-content ui-corner-all">'+parseInt($input.attr('value'), 10)+'</span>');

            //Create a new div, turn it into a slider, and set its attributes based on
            //the attributes of the input.
            $slider = $('<div style="float: right;"/>').slider({
                min: parseInt($input.attr('min'), 10),
                max: parseInt($input.attr('max'), 10),
                value: parseInt($input.attr('value'), 10),
                step: parseInt($input.attr('step'), 10),
                slide: function(event, ui) {
                    //Keep the value of the input[type=range] in sync with the slider.
                    $(this).prev('input').val(ui.value);
                    $label.text(ui.value);
                },
                stop: function(event, ui) {
                    var id = $(this).prev('input').attr('data-device');
                    device(id, ui.value);
                }
            });

            //Append the slider after the input and hide the input.
            //interact with the slider.
            $input.hide();
            $input.after($container);
            $container.append($label);
            $label.after($slider);

            $container.width($container.parent().width());
            $slider.width($container.width() - $label.width() - 15);

            $slider.css({
                position:'relative',
                top: ($container.height()/2 - $slider.outerHeight()/2)
            });
        });
    </script>
{% endif %}
