{% load i18n %}
{% load url from future %}
<form action="{% url 'desktop.views.systemsettings' type='connectors' %}" method="post">{% csrf_token %}
    {{ formset.management_form }}
    {{ formset.non_form_errors.as_ul }}
    <table id="formset" class="form">
        {% for form in formset.forms %}
            {% if forloop.first %}
                <thead><tr>
                    {% for field in form.visible_fields %}
                        <th>{{ field.label|capfirst }}</th>
                    {% endfor %}
                </tr></thead>
            {% endif %}
            <tr class="{% cycle row1,row2 %}">
                {% for field in form.visible_fields %}
                    <td>
                        {# Include the hidden fields in the form #}
                        {% if forloop.first %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                        {% endif %}
                        {{ field.errors.as_ul }}
                        {{ field }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <input type="submit" name="save" value="{% trans "Save" %}" />
    <input type="button" value="{% trans "Search" %}" onclick="search()"/>
</form>
<div id="dialog-scan" title="">
    {% blocktrans %}Searching for new connectors, please wait...{% endblocktrans %}
</div>
<script type="text/javascript">
    function search() {
        $('#Soptions').load('{% url 'desktop.views.settings' type='system' %}', {'subtype': 'connectors', 'search':''}, function() {
            $('#dialog-scan').dialog('close');
        });
        $('#dialog-scan').dialog('open');
    }
    $(function() {
        $('#dialog-scan').dialog({
            modal: true,
            autoOpen: false
        });
    });
</script>