{% load i18n %}
<form action="{% url 'desktop.views.systemsettings' type='security' %}" method="post">{% csrf_token %}
    <!--<input type="checkbox" name="active" /> Enable login
    <input type="checkbox" name="allow_local" checked="checked" /> Allways allow local users
    Password: <input type="password" name="password1"/> <input type="password" name="password2"/>
    <input type="submit" name="save" value="{% trans "Save" %}" />
    <input type="submit" name="logout" value="{% trans "Logout" %}" />-->
    {{ form.non_field_errors }}
    {{ form.is_active.errors }}
    {{ form.is_active }}
    <label for="id_is_active">Enable login</label><br />
    {{ form.allow_local.errors }}
    {{ form.allow_local }}
    <label for="id_allow_local">Always allow local users</label><br />
    {{ form.password1.errors }}
    {{ form.password2.errors }}
    <label for="id_password1">Password:</label>
    {{ form.password1 }}
    {{ form.password2 }}<br />
    <input type="submit" name="save" value="{% trans "Save" %}" />
    <input type="submit" name="logout" value="{% trans "Logout" %}" />
</form>