{% load i18n %}
{% load url from future %}
<style type="text/css">
    th {
        vertical-align: top;
    }

    label[for="id_action"] {
        position: relative;
        top: 5px;
    }

    fieldset {
        display: inline-block;
        height: 58px;
        margin: 10px 0 0 0;
        padding: 0;
        border: 0;
        overflow: hidden;
    }

    fieldset input[type="radio"] {
        display: none;
    }

    fieldset label {
        float: left;
        display: inline-block;
        width: 48px;
        height: 48px;
        color: transparent;
        margin: 0;
        padding: 5px, 0;
        background-color: #222;
    }

    fieldset label:first-of-type {
        padding-left: 5px;
        -webkit-border-top-left-radius: 6px;
        -webkit-border-bottom-left-radius: 6px;
        -moz-border-radius-topleft: 6px;
        -moz-border-radius-bottomleft: 6px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        background-position: 5px, 0;
    }

    fieldset label:last-of-type {
        padding-right: 5px;
        -webkit-border-top-right-radius: 6px;
        -webkit-border-bottom-right-radius: 6px;
        -moz-border-radius-topright: 6px;
        -moz-border-radius-bottomright: 6px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    fieldset input[type="radio"]:checked + label {
        background-color: #666;
    }

    fieldset .on {
        background-image: url("{{ STATIC_URL }}images/on.png");
    }

    fieldset .off {
        background-image: url("{{ STATIC_URL }}images/off.png");
    }

    fieldset .dim {
        background-image: url("{{ STATIC_URL }}images/dim.png");
    }

    fieldset .color {
        background-image: url("{{ STATIC_URL }}images/color.png");
    }

    .ui-hidden-accessible {
        display: none;
    }

    .slider {
        display: inline-block;
        margin-bottom: 1em;
    }

    .slider .label {
        display: inline-block;
        padding: 5px;
        width: 1.5em;
    }
</style>
<form action="{% url 'desktop.views.edit_input' %}" method="post">{% csrf_token %}
    <table style="text-align: left; border: 8px solid transparent; border-spacing: 0;">
        {{ form.as_table }}
    </table>
    {% if add %}
        <input type="submit" name="add" value="{% trans "Add" %}"/>
    {% else %}
        <input type="hidden" name="id" value="{{ object.id }}"/>
        <input type="submit" name="save" value="{% trans "Save" %}"/>
        <input type="submit" name="delete" value="{% trans "Delete" %}"/>
    {% endif %}
</form>
{% if 'dim_level' in object.action_object.object.SUPPORTED_ACTIONS and False %}
    <script type="text/javascript">
        var $input, $label, $slider, $container;

        $('input[type="range"]').each(function (index, input) {
            $input = $(input);
            var inputID = $input.attr('id');

            $container = $('<div class="slider" style="width: 195px"/>');
            $label = $('<span class="label ui-widget-content ui-corner-all">' + parseInt($input.attr('value'), 10) + '</span>');

            //Create a new div, turn it into a slider, and set its attributes based on
            //the attributes of the input.
            $slider = $('<div style="float: right;width: 150px"/>').slider({
                min: parseInt($input.attr('min'), 10),
                max: parseInt($input.attr('max'), 10),
                value: parseInt($input.attr('value'), 10),
                step: parseInt($input.attr('step'), 10),
                slide: function (event, ui) {
                    //Keep the value of the input[type=range] in sync with the slider.
                    var $input_id = $('#' + inputID);
                    $input_id.val(ui.value);
                    $input_id.change();
                    $label.text(ui.value);
                }
            });

            //Append the slider after the input and hide the input.  The user will only
            //interact with the slider.
            $input.hide();
            $input.after($container);
            $container.append($label);
            $label.after($slider);

            $slider.css({
                position: 'relative',
                top: ($container.height() / 2 - $slider.outerHeight() / 2)
            });
        });
    </script>
{% endif %}
