{% load i18n %}
{% load url from future %}
<style type="text/css">
    .container {
        background: none;
    }

    label[for="id_action"] {
        float: left;
        position: relative;
        top: 24px;
    }

    fieldset {
        display: inline-block;
        height: 58px;
        margin: 10px;
        padding: 0 5px;
        border: 0;
        overflow: hidden;
    }

    fieldset input[type="radio"] {
        display: none;
    }

    fieldset label {
        float: left;
        display: inline-block;
        width: 48px;
        height: 48px;
        color: transparent;
        margin: 0;
        padding: 5px, 0;
        background-color: #222;
    }

    fieldset label:first-of-type {
        padding-left: 5px;
        -webkit-border-top-left-radius: 6px;
        -webkit-border-bottom-left-radius: 6px;
        -moz-border-radius-topleft: 6px;
        -moz-border-radius-bottomleft: 6px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        background-position: 5px, 0;
    }

    fieldset label:last-of-type {
        padding-right: 5px;
        -webkit-border-top-right-radius: 6px;
        -webkit-border-bottom-right-radius: 6px;
        -moz-border-radius-topright: 6px;
        -moz-border-radius-bottomright: 6px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    fieldset input[type="radio"]:checked + label {
        background-color: #666;
    }

    fieldset .on {
        background-image:url("{{ STATIC_URL }}images/on.png");
    }

    fieldset .off {
        background-image:url("{{ STATIC_URL }}images/off.png");
    }

    fieldset .dim {
        background-image:url("{{ STATIC_URL }}images/dim.png");
    }

    fieldset .color {
        background-image:url("{{ STATIC_URL }}images/color.png");
    }

    .ui-hidden-accessible {
        display: none;
    }

    .slider {
        display: inline-block;
        margin-bottom: 1em;
    }

    .slider .label {
        display: inline-block;
        padding: 5px;
        width: 1.5em;
    }
</style>
<div id="accordion">
    {% for scenariodevice in scenariodevices %}
        <div class="group">
            <div class="header" data-id="{{ scenariodevice.id }}" style="line-height: 1;">
                <span>{{ scenariodevice.device.name }}</span>
                <span style="float: right; font-size: 0.8em;color: #ccc">{{ scenariodevice.device.room.floor.name }} / {{ scenariodevice.device.room.name }}</span>
            </div>
            <div class="container"><br /><br /><br /><br /><br /><br /></div>
        </div>
    {% endfor %}
</div>
<div id="new">
    <div class="header" data-id="0" style="line-height: 1;">
        <span>{% blocktrans %}New Device{% endblocktrans %}</span>
    </div>
    <div class="container">
        <form action="{% url 'desktop.views.edit_scenario' %}" method="post">{% csrf_token %}
            <input type="hidden" name="scenario" value="{{ scenario }}" />
            {{ form.as_ul }}
            <div id="actionrow" style="display: none;">
                <label for="id_action">{% trans "Action" %}:</label>
                <div id="actioncell">
                </div>
            </div>
            <input type="submit" name="add" value="{% trans "Add" %}" />
        </form>
    </div>
</div>
<script type="text/javascript">
    var $accordion = $('#accordion');
    $accordion.accordion({
        collapsible: true,
        active: false,
        heightStyle: "content",
        header: '> div > div[class="header"]',
        beforeActivate: function(event, ui) {
            var id = ui.newHeader.attr('data-id');
            ui.newPanel.load('{% url 'desktop.views.edit_scenario' %}', {'id': id}, function() {
                fix_sliders();
            });
        }
    }).sortable({
                axis: "y",
                handle: '.header',
                start: function( event, ui ) {
                    $accordion.accordion("activate", false);
                },
                stop: function( event, ui ) {
                    // IE doesn't register the blur when sorting
                    // so trigger focusout handlers to remove .ui-state-focus
                    ui.item.children('div[class="header"]').triggerHandler("focusout");
                }
            });
    $accordion.click(function(event) {
        event.stopPropagation();
    });
    $('#options').click(function() {
        $('#accordion').accordion("activate", false);
    });
    $('#new').accordion({
        heightStyle: "content",
        header: 'div[class="header"]'
    });
    $('#id_device').change(function() {
        var id = $(this).val();
        if (id != '') {
            $('#actioncell').load('{% url 'desktop.views.widget_action' %}', {'device': id}, function() {
                fix_sliders();
            });
            $('#actionrow').show();
            $('input[name="add"]').removeAttr('disabled');
        } else {
            $('#actionrow').hide();
            $('input[name="add"]').attr('disabled', 'disabled');
        }
    });
    $('input[name="add"]').attr('disabled', 'disabled');
    function fix_sliders() {
        $('input[type="range"]').each(function(index, input) {
            var $input, $label, $slider, $container;

            $input = $(input);
            var inputID = $input.attr('id');

            $container = $('<div class="slider" style="width: 195px"/>');
            $label = $('<span class="label ui-widget-content ui-corner-all">'+parseInt($input.attr('value'), 10)+'</span>');

            //Create a new div, turn it into a slider, and set its attributes based on
            //the attributes of the input.
            $slider = $('<div style="float: right;width: 150px"/>').slider({
                min: parseInt($input.attr('min'), 10),
                max: parseInt($input.attr('max'), 10),
                value: parseInt($input.attr('value'), 10),
                step: parseInt($input.attr('step'), 10),
                slide: function(event, ui) {
                    //Keep the value of the input[type=range] in sync with the slider.
                    //$(this).prev('input').val(ui.value);
                    $('#' + inputID).val(ui.value);
                    $('#' + inputID).change();
                    $label.text(ui.value);
                }
            });

            //Append the slider after the input and hide the input.  The user will only
            //interact with the slider.
            $input.hide();
            $input.after($container);
            $container.append($label);
            $label.after($slider);

            $slider.css({
                position:'relative',
                top: ($container.height()/2 - $slider.outerHeight()/2)
            });
        });
    }
</script>