{% load i18n %}
{% load url from future %}
<form action="{% url 'settings_input' %}" method="post">{% csrf_token %}
    <table style="text-align: left; border: 8px solid transparent; border-spacing: 0;">
        {{ form.as_table }}
    </table>
    {% if add %}
        <input type="submit" name="add" value="{% trans "Add" %}"/>
    {% else %}
        <input type="hidden" name="id" value="{{ input.id }}"/>
        <input type="submit" name="save" value="{% trans "Save" %}"/>
        <input type="submit" name="delete" value="{% trans "Delete" %}"/>
    {% endif %}
</form>
{% if 'dim_level' in input.action_object.object.SUPPORTED_ACTIONS and False %}
    <script type="text/javascript">
        var $input, $label, $slider, $container;

        $('input[type="range"]').each(function (index, input) {
            $input = $(input);
            var inputID = $input.attr('id');

            $container = $('<div class="slider" style="width: 195px"/>');
            $label = $('<span class="label ui-widget-content ui-corner-all">' + parseInt($input.attr('value'), 10) + '</span>');

            //Create a new div, turn it into a slider, and set its attributes based on
            //the attributes of the input.
            $slider = $('<div style="float: right;width: 150px"/>').slider({
                min: parseInt($input.attr('min'), 10),
                max: parseInt($input.attr('max'), 10),
                value: parseInt($input.attr('value'), 10),
                step: parseInt($input.attr('step'), 10),
                slide: function (event, ui) {
                    //Keep the value of the input[type=range] in sync with the slider.
                    var $input_id = $('#' + inputID);
                    $input_id.val(ui.value);
                    $input_id.change();
                    $label.text(ui.value);
                }
            });

            //Append the slider after the input and hide the input.  The user will only
            //interact with the slider.
            $input.hide();
            $input.after($container);
            $container.append($label);
            $label.after($slider);

            $slider.css({
                position: 'relative',
                top: ($container.height() / 2 - $slider.outerHeight() / 2)
            });
        });
    </script>
{% endif %}
